<div class="body-background">
    <div class="buttons">
        <button [routerLink]="['/inicio']"><span>&larr;</span></button>
    </div>
    
    <!-- Textarea y contenido adicional -->
    <div class="textarea-container">
        <textarea class="large-textarea" ></textarea>
    </div>

    <!-- Información debajo del textarea -->
    <div class="info">
        <!-- Texto debajo del textarea -->
        <p class="info-text">Deseas saber más</p>

        <!-- Botones con imágenes de fondo -->
        <div class="button-group">
            <button class="image-button button-1"></button>
            <button class="image-button button-2"></button>
        </div>
    </div>
</div>